<div class="page_main_container">

    <div class="biographie_main_container">
        <br>
        <br>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="../public/images/photo_ecrivain.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Jean Forteroche</h5>
                        <p class="card-text">Acteur et écrivain</p>

                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>


        <div class="biographie_text">
            <h5>Né le 21 novembre 1694 à Paris, est un écrivain et
                philosophe1 français qui a marqué le xviiie siècle.
                <br>
                <br>

                Représentant le plus connu de la philosophie des Lumières, anglomane, féru d'arts et de sciences,
                personnage protéiforme et complexe, non dénué de contradictions, Voltaire domine son époque par la durée
                de sa vie, l'ampleur de sa production littéraire et la variété des combats politiques qu'il a menés. Son
                influence est décisive sur la bourgeoisie libérale avant la Révolution française et pendant le début du
                xixe siècle.
                <br>
                <br>

                Anticlérical mais déiste, il dénonce dans son Dictionnaire philosophique le fanatisme religieux de son
                époque. Sur le plan politique, il est en faveur d’une monarchie modérée et libérale, éclairée par les «
                philosophes ». Mettant sa notoriété au service des victimes de l’intolérance religieuse ou de
                l’arbitraire, il prend position dans des affaires qu’il a rendues célèbres : Jean Calas, Pierre-Paul
                Sirven, chevalier de La Barre et comte de Lally.
                <br>
                <br>

                Son œuvre littéraire est riche et variée : son importante production théâtrale, ses longs poèmes
                épiques, telle La Henriade, et ses œuvres historiques firent de lui l’un des écrivains français les plus
                célèbres au xviiie siècle. Son œuvre comprend aussi des contes, notamment Candide ou l'Optimisme, des
                Lettres philosophiques, le Dictionnaire philosophique et une correspondance monumentale dont nous
                connaissons plus de 15 000 lettres sur un total parfois estimé à 40 0002.
                <br>
                <br>

                Titulaire d'une charge officielle d'historiographe du roi, il a publié Le siècle de Louis XIV, puis Le
                Siècle de Louis XV, ouvrages considérés comme les premiers essais historiques modernes. Il a traduit
                librement La Science nouvelle de Jean-Baptiste Vico en lui donnant pour titre l'expression inédite de
                Philosophie de l'histoire, ce qui fait de lui le précurseur du déterminisme historique au xixe siècle,
                puis de l'histoire culturelle au xxe siècle.
                <br>
                <br>

                Tout au long de sa vie, Voltaire fréquente les Grands et courtise les monarques, sans dissimuler son
                dédain pour le peuple, mais il est aussi en butte aux interventions du pouvoir, qui l’embastille et le
                contraint à l’exil en Angleterre ou loin de Paris. En 1749, après la mort d’Émilie du Châtelet, avec
                laquelle il a entretenu une liaison houleuse pendant quinze ans, il part pour la cour de Prusse mais,
                déçu dans ses espoirs de jouer un grand rôle auprès de Frédéric II à Berlin, il se brouille avec lui
                après trois ans et quitte Berlin en 1753. Il se réfugie un peu plus tard aux Délices, près de Genève,
                avant d’acquérir en 1759 un domaine à Ferney, sur la frontière franco-genevoise, à l’abri des puissants.
                Il ne reviendra à Paris qu’en 1778, ovationné par le peuple après une absence de près de vingt-huit ans.
                Il y meurt à 83 ans.
                <br>
                <br>

                Voltaire aime le confort, les plaisirs de la table et de la conversation qu’il considère, avec le
                théâtre, comme l’une des formes les plus abouties de la vie en société. Soucieux de son aisance
                matérielle, qui garantit sa liberté et son indépendance, il acquiert une fortune considérable dans des
                opérations spéculatives qui préfigurent les grandes spéculations boursières sous Louis XVI et dans la
                vente de ses ouvrages, ce qui lui permet de s’installer en 1759 au château de Ferney et d'y vivre sur un
                grand pied, tenant table et porte ouvertes. Le pèlerinage à Ferney fait partie en 1770-1775 du périple
                de formation de l’élite européenne éclairée. Investissant ses capitaux, il fait du village misérable de
                Ferney une petite ville prospère. Généreux, d'humeur gaie, il est néanmoins chicanier et parfois féroce
                et mesquin avec ses adversaires comme Jean-Jacques Rousseau ou Crébillon3.
                <br>
                <br>

                La Révolution française voit en lui comme en Rousseau un précurseur, si bien qu'il entre au Panthéon en
                1791, le deuxième après Mirabeau. À cette même période, sur l'initiative du marquis de Villette qui
                l'hébergeait, le « quai des Théatins » où l'écrivain habitait à Paris au moment de sa mort sera baptisé
                « quai Voltaire ». Célébré par la IIIe République (dès 1870, à Paris, un boulevard et une place portent
                son nom), il a nourri, au xixe siècle, les passions antagonistes des adversaires et des défenseurs de la
                laïcité de l’État et de l’école publique, et, au-delà, de l’esprit des Lumières.</h5>
        </div>




    </div>


</div>