<form class="main_register_container" action="index.php?action=registernewuser" method="post">
    <h1>S'enregistrer</h1>
    <!--{MESSAGEALERT}-->
    <p>Veuillez introduir vos données pour vous enregistrer.</p>
    <hr>
    <div class="register_container">


        <div class="register_bloc">
            <div>
                <div class="div_credentials">
                    <div class="credentials_label"><label><b>Prenom</b></label></div>
                    <div class="credentials_input">
                        <!--name: prenom -->
                        <input type="text" placeholder="Prenom" name="prenom" required></div>
                </div>
            </div>
            <br>
            <div class="div_credentials">
                <div class="credentials_label"><label><b>Nom</b></label></div>
                <div class="credentials_input">
                    <!--name: nom -->
                    <input type="text" placeholder="nom" name="nom" required></div>
            </div>
            <br>
            <div class="div_credentials">
                <div class="credentials_label"><label><b>Email</b></label></div>
                <div class="credentials_input">
                    <!--name: email -->
                    <input type="email" placeholder="Email" name="email" required></div>
            </div>
            <br>
            <fieldset>
                <div class="div_credentials">
                    <div class="credentials_label"><label><b>Password</b></label></div>
                    <div class="credentials_input">
                        <!--password: psw -->
                        <input type="password" placeholder="Password" id="password" name="psw" required></div>
                </div>
                <br>
                <div class="div_credentials">
                    <div class="credentials_label"><label><b>Repeat Password</b></label></div>
                    <div class="credentials_input">
                        <!--password repeat: psw-repeat -->
                        <input type="password" placeholder="Confirmer Password" id="confirm_password"
                               name="psw-repeat" required></div>
                </div>
                <br>
            </fieldset>

            <p>En se registrant sur ce site vous acceptez la Politique de Confidentialité: <a
                    href="index.php?action=politique">Politique de Confidentialité</a>.</p>
            <button class="alert alert-info registerbtn" type="submit">S'enregistrer</button>
        </div>
    </div>
    <div class="container signin">
        <p>Vous avez un compte? <a href="index.php?action=login">Connectez-vous</a>.</p>
    </div>
    </div>
</form>


<!-- Local Javascript -->
<script type="text/javascript" src="../public/js/validatePassword.js"></script>