 <!-- ADD COMMENT FORM -->
 <form action="index.php?action=add_comment" method="post" class="form-example">

    <div class="form-example">

        <div>
            <input type="text" name="PostId" id="PostId" value="{POST_ID}" hidden>
        </div>      

        <div class="form-example">            
            <input type="text" name="UserName" id="UserName" value="{USERNAME}" hidden>
        </div>

        <div class="form-example input_text">
            <textarea name="Comment" id="textbox"></textarea>
        </div>

    </div>

    <div class="add_comment_validate_button form-example validate">
        <input type="submit" class="btn btn-primary btn-sm" value="Ajouter Commentaire:">
    </div>

</form>
