<div class="div_comment card">
    <div class="card-body">
        <div class="comment_user">
            <span class="comment_author"> <i class="far fa-comments fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;{COMMENT_USER} - {COMMENT_DATE_CREATION}</span>
        </div>

        <div class="comment_content">
            {COMMENT_CONTENT}
        </div>

        <div class="div_comment_options row">
            <div class="div_delete_comment">{DELETE_COMMENT}{SIGNAL_COMMENT}</div>
        </div>

    </div>
</div>