<form action="index.php?action=update_post" method="post" class="form-example">

    <div class="form-example">
        <label for="name">Titre du billet: </label>
        {INPUT_TITRE}
        <br>
        <div>{INPUT_ID}</div>
    </div>

    <div class="form-example">
        <label for="name">Contenu: </label>
        <br>
        <div class="container_middle">
            <div class="edit_post_content">
                {INPUT_CONTENU}
            </div>
        </div>

        <br>
    </div>
    <div class="form-example">
        <input type="submit" name="update_post" value="Editer">
    </div>

    <br>

</form>
<br>