<div class="page_main_container">
    <div class="accueil_front_div">

        <!-- 
            <div class="caroussel_container">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../public/images/AlaskaBG01" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../public/images/AlaskaBG02" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../public/images/AlaskaBG03" class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        -->

    </div>
    <div class="jumbotron row">
        <div class="first_image_container image_container"> <img src="../public/images/blog_image.jpg" alt="image" height="250" width="400">
        </div>
        
        <div class="text_container">
            <br>Miles Halter, 16 ans, quitte la Floride pour l’Alabama et le pensionnat de Culver
            Creek, en quête du « Grand Peut-être » mentionné par François Rabelais à la fin de sa vie.Il passait son
            temps à apprendre les dernières paroles de personnes connu avant qu'il meurent. Il se lie d’amitié avec Chip
            « le Colonel » Martin, son camarade de chambre, qui le surnomme « le gros » de façon ironique, car Miles est
            tout le contraire. Chip lui présente ses amis : Takumi Hikohito, fan de hip-hop, et Alaska Young, jolie et
            émotionnellement instable.
            <br>
            <br>
            <div><img><img src="/public/images/images.jpg" alt="Smiley face"  width="400"></div>
            <br>
            Miles vit ses premières amitiés fortes, l’amour, la transgression, et ses premières expériences, tout ce
            dont il avait tant envie en quittant sa Floride natale.
            <br>
            <br>
            Dès le début du livre, le décompte des jours à chaque chapitre (« 50 jours avant », « 30 jours avant »)
            indique qu’un événement d’une certaine importance va marquer la vie des personnages, et les changer à
            jamais. Il rencontre aussi Alaska et tombe complètement amoureux d’elle. Alaska est une fille qui aime lire
            (elle possède d'ailleurs une grande collection de livres en cours de lecture auxquels elle tient
            énormément), et elle aime aussi particulièrement fumer et boire. C'était une fille gentille mais elle
            n’était pas du tout un exemple à prendre.
            <br>
            <br>
            <div><img><img src="/public/images/innocents.jpg" alt="Smiley face"  width="400"></div>
            <br>

            Par la suite, Miles rencontre aussi une fille qui devient sa
            petite amie malgré ces sentiments envers Alaska. Les amis de Miles lui avaient aussi parlé des weekendeurs,
            qu'il avait eu la chance de rencontrer dès sa première semaine d'arrivée lors d'une vengeance (il fut
            attaché solidement de facon à ne presque plus pouvoir bouger, puis fut balancé à l'eau en pleine nuit). Les
            weekendeurs étaient des personnes qui rentraient tous les week-ends chez eux car ils en avaient les moyens.
            Personne de la bande qu'ils formaient ne les aimaient. Miles était maintenant très attaché à ses nouveaux
            amis. Et plus particulièrement à Alaska, qui était malheureusement déjà accompagné d'un garçon qu'elle
            disait aimer réellement. Ils étaient tout le temps ensemble, lui, et sa bande d'amis.
            <br>
            <br>
            Un soir, Alaska alla voir Miles et le colonel, complètement ivre et tout en larme. Elle demanda au colonel
            et à Miles de distraire l’aigle (ils appelaient comme ça le directeur de leur pensionnat). Elle voulait
            rentrer chez elle mais tenait à garder la raison de son départ pour elle. Les garçons ont alors distrait
            l’aigle afin d'aider leur amie malgré leur protestation pour qu'Alaska ne prenne pas la voiture, mais Alaska
            prit sa voiture et partit. Le lendemain, tous les élèves du pensionnat furent appelés au gymnase.
            <br>
            <br>
            Alaska est morte.

            <br>
            <br>
            Le colonel et Miles savent qu’ils sont responsables de sa mort. Mais ils veulent à tout prix savoir la
            raison de son départ si brutal et précipité. Ils vont alors faire une enquête, mais aussi rendre plusieurs
            hommages destinés à leur amie malgré les larmes et la rancœur.</div>
            <div><img><img src="/public/images/AlaskaBG01.jpg" alt="Smiley face"  width="100%"></div>
            
    </div>

    

</div>