<div class="div_add_form">
    <form action="index.php?action=addPost" method="post" class="form-example">

        <div class="new_post_title form-example">
            <label for="name">TITRE DU NOUVEAU BILLET: </label>
            <input type="text" name="Titre" id="Titre" required>
        </div>

        <div class="form-example">
            <div class="input_text"> <textarea id="textarea" name="Contenu" required></textarea></div>
            <br>
            <!-- <input type="text" name="Contenu" id="Contenu" required> -->
        </div>

        <div class="form-example">
            <input type="submit" class="btn btn-primary btn-sm" value="AJOUTER">
        </div>

    </form>
</div>