<div class="page_main_container">
  <h1>Contact</h1>
  <div>
    <div class="container">
      <form action="action_page.php">

        <div>
          <label for="fname">Prénom</label>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
        </div>
        <div>
          <label for="lname">Nom</label>
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">
        </div>
        <div class="bloc_contact_pays">
          <div class="contact_pays">
            <label for="country">Pays</label>
            <select id="country" name="country">
              <option value="australia">France</option>
              <option value="canada">Espagne</option>
              <option value="usa">Portugal</option>
            </select>
          </div>
        </div>
        <div >
          <label for="subject">Sujet</label>
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
        </div>
        <input type="submit" value="Submit">

      </form>
    </div>
  </div>
</div>