    <!-- Tiny MCE -->
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"></script>
    <script>tinymce.init({ selector: 'textarea', branding: false, menubar: false, toolbar: false,  });</script>



<div class="page_main_container">
  <h1>Contact</h1>
  <div>
    <div class="container">
      <form action="action_page.php">

        <div>
          <label for="fname">Prénom</label>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
        </div>
        <div>
          <label for="lname">Nom</label>
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">
        </div>
        <div>
          <div class="label_message"><label for="subject">Message: </label></div>
          <div><textarea id="content" name="content" placeholder="" style="height:200px"></textarea></div>
        </div>
        <input type="submit" value="Submit">

      </form>
    </div>
  </div>
</div>