<form action="model/login_validation.php" method="post">

    <div class="login_container">

        <div>
            <h1>Connectez-vous</h1>
        </div>
        <br>
        <div class="div_credentials">
            eMail:
            <input type="text" name="email" />
        </div>
        <br>
        <div class="div_credentials">
            Password:
            <input type="password" name="password" />
        </div>
        <br>
        <div>
            <input type="submit" value="Valider" />
        </div>

    </div>

</form>