<div class="card div_post">
    <div class="card-body">
        <h5 class="card-title"><em>{POST_TITLE}</em> <br>
            <h6> Billet crée le {POST_DATE}</h6>
        </h5>
        <p class="card-text">{POST_CONTENT}</p>

        {BUTTON_EDIT_POST}

        {BUTTON_DELETE_POST}

        

    </div>



    <div class="card-body card_body_comments_container">
        <div class="comments">
        </div>

        <!-- ALL USERS -->
        {COMMENTS_BODY}

        <!-- IF REGISTERED -->
        {ADD_COMMENTS}

    </div>

</div>
<br>